<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username">
  </div>
  <div>
    <label for="email">email:</label>
    <input type="text" id="email" formControlName="email">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password">
  </div>
  <button type="submit" [disabled]="!registerForm.valid">Zarejestruj</button>
</form>
<p>Error: {{errorMessage}}</p>
